alembic==1.10.2
anyio==3.6.2
black==22.10.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cryptography==38.0.3
ecdsa==0.18.0
fastapi==0.85.1
fastapi-azure-auth==3.5.0
fastapi-utils==0.2.1
greenlet==1.1.3.post0
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.4
Mako==1.2.4
MarkupSafe==2.1.2
mypy-extensions==0.4.3
pathspec==0.10.1
platformdirs==2.5.2
pyairtable==1.3.0
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.2
pydantic-sqlalchemy==0.0.9
python-dotenv==0.21.0
python-jose==3.3.0
requests==2.28.1
rfc3986==1.5.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.41
sqlalchemy-json==0.5.0
SQLAlchemy-Utils==0.38.3
sqlalchemy2-stubs==0.0.2a29
sqlmodel==0.0.8
starlette==0.20.4
tomli==2.0.1
typing_extensions==4.4.0
urllib3==1.26.12
uvicorn==0.19.0
